{% extends 'base.html' %}
{% block title %}ギャラリー管理{% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="mb-4">ギャラリー管理</h1>
</div>
<div class="container py-4">
    <h2 class="mb-4">ギャラリー一覧</h2>
    <ul class="list-group row">
        {% for gallery in galleries %}
        <div class="col-md-4">
            <img src="{{ gallery.image.url }}" alt="{{ gallery.title }}" class="img-fluid">
            <li class="list-group-item">{{ gallery.title }}</li>
        </div>
        {% empty %}
        <li class="list-group-item">ギャラリーはありません。</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}